
<div class="wrapper">
<!-- Sidebar Holder -->
<nav id="sidebar">
<div class="sidebar-header">
    <img src="images/logo.png" alt="LDS" style="display: block;margin:auto;">
</div>

<ul class="list-unstyled components">
    <p>Learn Develope Sell</p>
    <li class="active">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
            <li>
                <a href="#">Home 1</a>
            </li>
            <li>
                <a href="#">Home 2</a>
            </li>
            <li>
                <a href="#">Home 3</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">About</a>
        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
        <ul class="collapse list-unstyled" id="pageSubmenu">
            <li>
                <a href="#">Page 1</a>
            </li>
            <li>
                <a href="#">Page 2</a>
            </li>
            <li>
                <a href="#">Page 3</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">Portfolio</a>
    </li>
    <li>
        <a href="#">Contact</a>
    </li>
</ul>

<ul class="list-unstyled CTAs">
    <li>
        <a href="#" class="download">Download pdf</a>
    </li>
    <li>
        <a href="/home" class="article">Back to home</a>
    </li>
</ul>
</nav>

<!-- Page Content Holder -->
<div id="content">

<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
        </button><span id="content-span" style="color:white;font-size:16px;font-weight:800;">Content</span>
        <button class="btn d-inline-block d-lg-none ml-auto navbar-btn" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="color: white;background-color: #41cfc8;">
            <i class="fas fa-align-justify"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">/home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">/forum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/news">/news</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</div>
</div>