/* ---------------------------------------------------
CARD of NEWS
----------------------------------------------------- */
.title{
    text-align:justify;
    color:#41cfc8;
    font-size:25px;
    font-family: Tahoma;
    font-weight: 800;
}

.card{
    width:60%;
    margin-left:10%;
    margin-top:1%;
}

.card-img-top{
    width:80vw;
    height: 40vh;
    margin:0 auto;
}

.date{
    color: black;
    font-family: 'Gill Sans';
}

.card-title{
    color: #41cfc8;
}

.card-text{
    font-family: monospace;
    font-weight: 600;
    color:rgb(124, 224, 57);
}

.btn{
    background-color: #41cfc8;
    color: white;
}